//variables
$black:#232323;
$white: #FFFFFF;
$alabaster: #FAFAFA;
$mercury: #E1E1E1;
$silver: #AFAFAF;
$grubHub: #008080;

@mixin body-font() {
    font-family: 'AvenirNext LT Pro regular';
}
@mixin mobile-header-one(){
    font-family: 'AvenirNext LT Pro bold';
    font-weight: bold;
    font-size: 25px;
    line-height: 32px; 
}
@mixin mobile-subheaders(){
    font-family: 'AvenirNext LT Pro demi';
    font-size: 14px;
    line-height: 22px;
}
@mixin mobile-header-list-contactInfos(){
    font-family: 'AvenirNext LT Pro regular';
    font-size: 15px;
    line-height: 18px;
}
@mixin mobile-header-list-contactInfo(){
    font-family: 'AvenirNext LT Pro regular';
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
}
@mixin mobile-paragraphs(){
    font-family: 'AvenirNext LT Pro regular';
    font-size: 17px;
    line-height: 18px;
}
@mixin mobile-labels(){
    font-family: 'AvenirNext LT Pro regular';
    font-size: 14px;
    line-height: 20px;
}
